<div class="container">


 <h1><%= @user.name %>'s Dashboard</h1>

  <form action="/create_survey" method="get"><input type="submit" value="Create a new Survey!"></form>
  <!-- Going to have to link to the appropriate view -->
  <div>
    <h2>Take a Survey</h2>

    <form id="select_survey" action="/surveys/take" method="post">
      <select name="survey_id">
        <% Survey.all.each do |survey| %>
          <option value="<%= survey.id %>"><%= survey.name %></option>
        <% end %>
      </select>
      <input class="dashboard_button" type="submit" value="Take the survey">
    </form>
  </div>

<hr>

<h2>Surveys Created</h2>

  <ul>
    <% @user.surveys.each do |survey| %>
      <li class="created_survey_list_item"><a href="/surveys/show/<%= survey.id %>"><%= survey.name %></a> <button class="delete_survey_button dashboard_button" href="#" value="<%= survey.id %>">Delete survey</button></li>
    <% end %>
  </ul>

<hr>

<h2>Surveys Taken</h2>

  <ul>
    <% find_user_taken_surveys(@user).each do |survey| %>
      <li><a href="/surveys/show/<%= survey.id %>"><%= survey.name %></a></li>
    <% end %>
  </ul>
</div>


